body{
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;;
}

.image-slider button{
    z-index: 10;
}
.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    background-color: rgba(0,0,0, 0.8);
}

.title-message{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 6;
    text-align: center;
    margin-top: -125px;
}

.heading p{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    font-weight: 400;
    letter-spacing: 7px;
}

.heading .main {
    font-size: 70px;
}

.heading .sub {
    font-size: 23px;
}

.section{
    padding: 100px 0;
}

.about-image{
    max-width: 90%;
    
}

.about-content{
    font-size: 20px;
}

.about-content h4{
    font-weight: 600;
    padding-top: 8%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    
}

.about-content p{
    padding-top: 5%;
    padding-left: 10%;
    color: #828282;
}
.skills-section, .contact-section{
    background-color: #102542;
    color: #fff;
}

.skills{
    font-size: 18px;
}

.skills-wrapper{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.skills-wrapper .skills{
    margin: 10px;
}

.skills-section h2{
    font-weight: 600;
    font-size: 40px;
}

.square-item{
    margin-top: 30px;
    position: relative;
    

}

.square-inner-container{
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 4px solid #D0D0D0;
    border-top: none;
}

.square-inner-container:before,
.square-inner-container:after{
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 4px solid #D0D0D0;
}

.square-inner-container:before{
    right: 0px;
}

.square-inner-container:after{
    left: 0px;
}

.square-content h2{
    font-size: 56px;
    font-weight: 570;
    margin-bottom: 10px;
    color: #659B5E;
}

.square-content h3{
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #828282;
    margin: 0;
}

.square-icon{
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 35px;
    margin-left: -20%;
    color: #659B5E;
}

.contact-button{
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
}
.contact-button:hover{
    text-decoration: none;
    color: #3e6990;
    background-color: #fff;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}


.items-container{
    width: 100%;
}

.project-wrapper{
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
}

.heading h2{
    font-size: 36px;
    font-weight: 600;
}

.image-wrapper{
   max-width: 50%;
 
}
.image-wrapper img{
    padding: 10px;
    max-width: 100%;
    border-radius: 15px;

}

.content-wrapper{
    padding-left: 10%;
    margin-left: 5%;
    padding: 10px;
    width: 50vw;
}

.tech{
    margin-top: 20px;
    margin-bottom: 10px;
    height: 25%;
    
}
.description{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 45%;
    
}

.project-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-links a{
    font-size: 16px;
    
}


.copyright-section{
    background-color: #102542;
    color: #fff;
    padding: 30px 5px;
}

.copyright-section p{
    margin: 0;
}

@media screen and (max-width: 1250px){
    .project-wrapper{

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



