/* #242424 - Dark Grey
#FED766 - Yellowish
#009FB7 - turqouise
#6969773 - less dark grey
#EFF1F3 - light-gray */

.header-container{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(#EFF1F3, #009FB7);
    height: 40px;
    border-radius: 1px solid gray;
    /* box-shadow: 0px 5px 5px 0px blue; */
    padding: 10px;
    justify-content: space-around;
}

.header-left-text{
    color: #242424;
    font-size: 20px;
    align-self: center; 
}

.header-right{

}

.header-right-links a{
    margin-left: 5vw;
}